<html>
<head>
  <title>TODO APP</title>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
   <script src="/assets/todo-list.js"></script>
  <link href="/assets/styles1.css" rel="stylesheet" type="text/css">
</head>
<body>

  <h1>My List App</h1>

  <div id="todo-table">
    <form>
      <input type = "text" name="item" placeholder="Add new item ..." required/>
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% for(var i=0; i< todos.length; i++){ %>
        <li><%=todos[i].item%></li>
    <%  } %>

    </ul>

  </div>
  <div id="particles-js"></div>
  <script type="text/javascript" src="/assets/particles.js"></script>
  <script type="text/javascript" src="/assets/app.js"></script>

</body>
</html>
